---
import { Icon } from 'astro-icon/components'
const { class: className } = Astro.props
---

<div
	class:list={[
		className,
		'border border-border dark:border-border-dark rounded-lg flex justify-center items-center text-foreground dark:text-foreground-dark p-1 gap-1',
	]}
>
	<button
		data-theme="theme-auto"
		aria-label="Auto Theme"
		title="Set theme to follow system preference"
		class="theme-button theme-auto"
	>
		<Icon
			name="mdi:brightness-auto"
			class:list="text-lg"
			aria-hidden
		/>
	</button>
	<button
		data-theme="theme-light"
		aria-label="Light Theme"
		title="Set theme to light"
		class="theme-button theme-light"
	>
		<Icon
			name="mdi:white-balance-sunny"
			class:list="text-lg"
			aria-hidden
		/>
	</button>
	<button
		data-theme="theme-dark"
		aria-label="Dark Theme"
		title="Set theme to dark"
		class="theme-button theme-dark"
	>
		<Icon
			name="mdi:moon-and-stars"
			class:list="text-lg"
			aria-hidden
		/>
	</button>
</div>

<style>
	@reference "../styles/main.css";

	button.theme-button {
		@apply p-1.5 rounded transition-all duration-150;
	}
	:global(button.active) {
		@apply text-base dark:text-base-dark bg-primary dark:bg-primary-dark;
	}
</style>